<div nz-row [nzJustify]="'center'" [nzType]="'flex'">
    <div nz-col [nzXl]="14">
        <div nz-row [nzJustify]="'center'" [nzType]="'flex'" [nzGutter]="48">

            <nz-card nzHoverable [ngStyle]="{'width': (images$ | async)[0]?.width + 'px' }" [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
            </nz-card>

            <ng-template #coverTemplate>
                <img alt="example" src="{{ (images$ | async)[0]?.url }}" />
            </ng-template>

            <nz-list
                class="demo-loadmore-list"
                [nzDataSource]="(tracks$ | async)?.items"
                [nzItemLayout]="'horizontal'"
                [nzRenderItem]="item"
            >
                <audio #audio_id controls style="width:100%"></audio>

                <ng-template #item let-item>
                    <nz-list-item
                        [nzActions]="item.loading ? [] : [editAction, moreAction]"
                    >
                        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">

                            <ng-template #editAction><a (click)="play(audio_id, item)">play</a></ng-template>

                            <ng-template #moreAction><a (click)="addToPlaylist(item)">add</a></ng-template>

                            <nz-list-item-meta
                                [nzTitle]="nzTitle"
                                nzDescription="{{ item.name }}"
                            >
                                <ng-template #nzTitle>
                                    <a href="https://ng.ant.design">{{ item.name.last }}</a>
                                </ng-template>
                            </nz-list-item-meta>
                        </nz-skeleton>
                    </nz-list-item>
                </ng-template>
            </nz-list>

        </div>
    </div>
</div>
